<div class="container">
  <nav>
    <ul class="pagination">
      <li class="page-item" [ngClass]="{ disabled: currentPage === 0 }">
        <a class="page-link" (click)="currentPage = currentPage - 1">prev</a>
      </li>
      <ng-container *ngFor="let image of images; let i = index">
        <li
          class="page-item"
          [ngClass]="{ active: i === currentPage }"
          *ngIf="checkWindowIndex(i)"
        >
          <a class="page-link" (click)="currentPage = i">{{ i + 1 }}</a>
        </li>
      </ng-container>
      <li
        class="page-item"
        [ngClass]="{ disabled: currentPage === images.length - 1 }"
      >
        <a class="page-link" (click)="currentPage = currentPage + 1">next</a>
      </li>
    </ul>
  </nav>

  <div>
    <img [src]="images[currentPage].url" />
  </div>
</div>
